#radio {
    margin-right: 20px;
}
#verify {
    margin-top: 30px;
}
#add {
    height: 50px;
    width: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#fact {
    width: 50%;
}
h4, p {
    font-style: italic;
}